*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
      background-color: rgb(95, 93, 93);
  }
  
  .h1-text {
      justify-content: center;
      text-align: center;
      margin-top: 2%;
  
  }
  
  .link-one-total {
      justify-content: center;
      text-align: center;
      margin-top: 60px;
  } 